<h1 class="text-center"><%= pluralize(@discussions.count, "Result") %></h1>
 <%= render 'form' %>
 <%= render 'shared/discussions'%>


<!--
<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
        <th><%= sort_link(@query, :content, "Content") %></th>
      </tr>
    </thead>
    <tbody>
      <% @discussions.each do |discussion| %>
        <tr>
          <td><%= link_to discussion.title, discussion %></td>
          <td><%= discussion.content.truncate_words(25) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
-->